* {
 	font-family: sans-serif;
 	text-decoration: none;
 }

nav	{

 	font-size: 20px;
 	color: black;
 }

 span	{
 	color: black;
	width: 50px;
	margin: 10px;
	font-size: 15px;
	word-spacing: 1px;

 }

.header1 {
	text-indent: 15px;
	padding: 10px;
}

h1 {
	text-align: center;
}

p 	{
	margin-left: 15px;
	margin-right: 15px;
}

h2 	{
	margin: 15px
}


.button	{
 	background-color: #c2195b;
 	padding: 1rem;
 	border-radius: 25px;
 	color: white;
 	font-weight: bold;
 	font-size: 1rem;
 	display: block;
 	margin: auto;


 }


footer {
	background-color: #012440;
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

}


.container, li	{
	color: white;
	text-decoration: none;
	list-style: none;
	display: flex;
	flex-direction: row;	
	font-size: 15px;

}


div	{
	display: flex;
	justify-content: center;
}


